<%- include("../partials/head.ejs") %>


<h1>Update Entry on <%= journal.day %></h1>

<form action="/journal/<%= journal._id %>?_method=PUT" method="post">
    
    <input 
        type="text" 
        name="day" 
        placeholder="Day of the week" 
        value="<%= journal.day %>">
    <br>
    <input 
        type="number" 
        name="month" 
        placeholder="Month" 
        value="<%= journal.month %>">
    <input 
        type="number" 
        name="dayOfMonth" 
        placeholder="Day" 
        value="<%= journal.dayOfMonth %>">
    <input 
        type="number" 
        name="year" 
        placeholder="Year" 
        value="<%= journal.year %>">
    <br>
    <input 
        type="text" 
        name="goal" 
        placeholder="Goals for Today" 
        value="<%= journal.goal %>">
    <input 
        type="checkbox" 
        name="goalCompleted" 
        <%= journal.goalCompleted ? "checked" : "" %>>
    <br>
    <input 
        type="text" 
        name="entry" 
        placeholder="Entry for the day" 
        value="<%= journal.entry %>">
    <br>

    <input type="submit" value="Update">
</form>

<a href="/journal">Back to Main Page</a>