<%- include("../partials/head.ejs") %>
<title>My Coding Journal</title>

<body class="background">
    <div class="container">
       <div class="header">
            <div></div>
            <div>My Coding Journal</div>
            <a href=".."><div class="logout">Logout</div></a>
       </div>

    <div class="editLarge">
        <form action="/journal/<%= journal._id %>?_method=PUT" method="post">
            <input 
                type="text" 
                name="day" 
                placeholder="Day of the week" 
                value="<%= journal.day %>">
            <br>
            <br>
            <input 
                class="date"
                type="number" 
                name="month" 
                placeholder="Month" 
                value="<%= journal.month %>">
            <input 
                class="date"
                type="number" 
                name="dayOfMonth" 
                placeholder="Day" 
                value="<%= journal.dayOfMonth %>">
            <input 
                class="date"
                type="number" 
                name="year" 
                placeholder="Year" 
                value="<%= journal.year %>">
            <br>
            <br>
            <input 
                type="text" 
                name="goal" 
                placeholder="Goals for Today" 
                value="<%= journal.goal %>">
            <input 
                type="checkbox" 
                name="goalCompleted" 
                <%= journal.goalCompleted ? "checked" : "" %>>
            <br>
            <br>
            <input 
                class="entry"
                type="text" 
                name="entry" 
                placeholder="Entry for the day" 
                value="<%= journal.entry %>">
            <br>
            <br>
            <input class="btn" type="submit" value="Update">
        </form>
    </div>

    <div class="footer">
        <div class="indexFooter">
            <a href="/journal">Back to Main Page</a>

    </div>

</div>
</body>