<h1 class="title">My Coding Journal</h1>

<h2>Day: <%= journal.day %></h2>

<h2>Date: <%= journal.month%>/<%= journal.dayOfMonth%>/<%= journal.year%></h2>

<h2>Goals: <%= journal.goal%></h2>

<h2>Goal Completed: <%= journal.goalCompleted ? "Yes" : "No" %></h2>

<h2>Entry for the Day: <br><%= journal.entry%></h2>

<a href="/journal/<%= journal._id %>/edit"><button>Update</button></a>
<form action="/journal/<%= journal._id %>?_method=DELETE" method="post">
    <input type="submit" value="Delete ">
</form>

<a href="/journal">Back to Main Page</a>