<%- include("../partials/head.ejs") %>
<title>My Coding Journal</title>


<body class="background">
    <div class="container">
       <div class="header">
            <div></div>
            <div>My Coding Journal</div>
            <a href=".."><div class="logout">Logout</div></a>
       </div>

        <div class="large">
            Day: <%= journal.day %>
                <br>
                <br>
            Date: <%= journal.month%>/<%= journal.dayOfMonth%>/<%= journal.year%>
                <br>
                <br>
            Goals: <%= journal.goal%>
                <br>
                <br>
            Goal Completed: <%= journal.goalCompleted ? "Yes" : "No" %>
                <br>
                <br>
            <a href="/journal/<%= journal._id %>/edit"><button class="btn">Update</button></a>
                <br>
                <br>
            <form action="/journal/<%= journal._id %>?_method=DELETE" method="post">
            <input class="btn" type="submit" value="Delete ">
            </form>
        </div>

        <div class="large-2">
            Entry for the Day: <br><%= journal.entry%>
        </div>


        <div class="footerShow">
                <a href="/journal">Back to Main Page</a>
        </div>

    </div>
</body>