<%- include("../partials/head.ejs") %>


<body>
    <div class="container">
        <div class="header">
            My Coding Journal
        </div>

        <div class="large">

            Day: <%= journal.day %>
                <br>
            Date: <%= journal.month%>/<%= journal.dayOfMonth%>/<%= journal.year%>
                <br>
            Goals: <%= journal.goal%>
                <br>
            Goal Completed: <%= journal.goalCompleted ? "Yes" : "No" %>
                <br>
            <a href="/journal/<%= journal._id %>/edit"><button>Update</button></a>
                <br>
            <form action="/journal/<%= journal._id %>?_method=DELETE" method="post">
            <input type="submit" value="Delete ">
            </form>
        </div>

        <div class="small">
            Entry for the Day: <br><%= journal.entry%>

        </div>



<a href="/journal">Back to Main Page</a>

    </div>
</body>