<h1 class="title">My Coding Journal</h1>

<h2><%= journal.day %></h2>

<h2>Date: <%= journal.month%>/<%= journal.dayOfMonth%>/<%= journal.year%></h2>

<h2>Goals: <%= journal.goal%></h2>

<h2>Goal Completed: <%= journal.goalCompleted%></h2>

<h2>Entry for the Day: <br><%= journal.entry%></h2>